.container {
  .playlist-table {
    display: flex;
    justify-content: center;
  }

  .mode-selector {
    display: flex;
    justify-content: center;

    .back-btn {
      border-radius: 4px;
      width: 6rem;

      .back-icon {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}
