header.header {
  flex: 0 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-block-end: 3rem;
  background-color: pink;
  height: 50px;

  &.loading {
    background-color: greenyellow;
  }

  img.logo {
    height: 100%;
  }

  h1,
  .log-btn {
    margin: unset;
  }
}

.root-container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  padding-block-end: 1rem;
}
