.study-page {
  text-align: center;

  margin-bottom: 1rem;

  .study-layout {
    display: flex;

    &.row {
      flex-direction: row;
      justify-content: space-between;

      .difficulty-selector {
        margin-left: 1rem;
      }
    }

    &.col {
      flex-direction: column;
    }
  }
}
