.four-button {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;

  font-size: 1.3rem;

  width: 700px;
  height: 160px;

  &.square {
    width: 100%;
    flex-grow: 1;
  }
  button {
    border-radius: 5px;
    border-style: solid;
    border-color: #333 !important;
    font-size: inherit;
    cursor: pointer;
  }

  button.color-0 {
    background-color: #ff3355;

    &:hover {
      background-color: #e21b3c;
    }

    &:active {
      background-color: #c50928;
    }
  }

  button.color-1 {
    background-color: #67be39;

    &:hover {
      background-color: #25890c;
    }

    &:active {
      background-color: #106b02;
    }
  }

  button.color-2 {
    background-color: #45a3e5;

    &:hover {
      background-color: #1369ce;
    }

    &:active {
      background-color: #0542b9;
    }
  }

  button.color-3 {
    background-color: #fcbf09;

    &:hover {
      background-color: #ffa502;
    }

    &:active {
      background-color: #d79e00;
    }
  }
}
