.home-panel {
  nav.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-block-end: 3rem;
    background-color: pink;
    height: 50px;

    img.logo {
      height: 100%;
    }

    h1,
    .log-btn {
      margin: unset;
    }

  }

  .playlist-table {
    display: flex;
    justify-content: center;
  }

  .mode-selector {
    display: flex;
    justify-content: center;

    .back-btn {
      border-radius: 4px;
      width: 6rem;

      .back-icon {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}
