.playlist-el {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5rem;
  background-color: grey;
  text-align: start;
  width: 800px;

  img {
    border-radius: 4rem;
    height: 150px;
    width: 150px;
  }
}
