$alert-color: #e66465ff;

.player {
  display: inline-block;

  img,
  svg {
    border-radius: 50%; //for spotify-logo-warn
    height: 10rem;
  }

  &.init .animated {
    animation: spotify-logo-pulse 4s 5s infinite ease;
  }

  &:not(.init) .animated {
    animation:
      spotify-logo-rotate 1s 15 ease,
      spotify-logo-warn 1s 3 12s ease;
  }

  &.paused .animated {
    animation-play-state: paused;
  }
}

@keyframes spotify-logo-pulse {
  0% {
    transform: scale(1);
  }

  5% {
    transform: scale(1.1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }
}

@keyframes spotify-logo-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spotify-logo-warn {
  0% {
    box-shadow: 0 0 0 0 $alert-color;
  }

  70% {
    box-shadow: 0 0 0 10vmin transparent;
  }
}
