$scale: 0.85;
$alert-color: #e66465ff;

.player {

  .spotify-logo {
    border-radius: 50%;
    height: 10vmax;

    &:active {
      animation: spotify-logo-scale infinite 1s ease;
    }
  }

  &.playing {
    .spotify-logo {
      animation: spotify-logo-rotate infinite 1s ease;
    }

    &.end .spotify-logo {
      animation: spotify-logo-pulse infinite 1s;
    }
  }
}

@keyframes spotify-logo-scale {
  0% {
    transform: scale($scale);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spotify-logo-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spotify-logo-pulse {
  0% {
    box-shadow: 0 0 0 0 $alert-color;
    transform: rotate(0deg);
  }

  70% {
    box-shadow: 0 0 0 10vmin transparent;
  }

  100% {
    transform: rotate(360deg);
  }
}

