$card-color: #1f4468;
$text-color: #cbf2f4;

.flashcard {
  background-color: transparent;
  width: min(0.4*700px, 90vw);
  display: inline-block;

  .flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;

    img.flashcard-front, svg.flashcard-front {
      width: 100%;
    }

    .flashcard-back {
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      flex-direction: row;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      background-color: $card-color;

      span {
        font-size: 3em;
        padding: 0.5vmin;
        color: $text-color;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }

    .flashcard-front, .flashcard-back {
      border-radius: 0.5rem;
      backface-visibility: hidden;
    }
  }

  &.flipped .flashcard-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }
}
